<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <ng-content  select="[header]"></ng-content>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <ng-content select="[body]"></ng-content>
  </div>
  <div class="modal-footer">
    <button *ngIf="!isCalendar" class="btn btn-secondary" (click)="closeModal()">
        Mégse
    </button>
    <ng-content select="[saveButton]"></ng-content>
  </div>
</ng-template>
