<main id="main" class="main">
  <div class="pagetitle">
    <h1>{{ "tapertek_ajanlas" | translate }}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">{{ "kezdolap" | translate }}</a>
        </li>
        <li class="breadcrumb-item">{{ "vendegeim" | translate }}</li>
        <li class="breadcrumb-item active">
          {{ "tapertek_ajanlas" | translate }}
        </li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <h5 class="card-title">{{ "tapertek_ajanlas" | translate }}</h5>
              </div>
              <div class="col-lg-6 text-end">
                <button routerLink="/trainer/newDietRecommedation/{{ guestId }}" class="btn btn-success mt-3 btn-sm"><fa-icon [icon]="faNew"></fa-icon></button>
              </div>
            </div>
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">{{ "kaloria" | translate }} (g)</th>
                  <th scope="col">{{ "szenhidrat" | translate }} (g)</th>
                  <th scope="col">{{ "zsir" | translate }} (g)</th>
                  <th scope="col">{{ "feherje" | translate }} (g)</th>
                  <th scope="col">{{ "datum" | translate }}</th>
                  <th scope="col">{{ "muvelet" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="recommedation.length == 0">
                  <td colspan="7">
                    <div class="alert alert-info">
                      <i class="bi bi-info-circle me-1"></i>
                      {{ "nincs_talalat" | translate }}
                    </div>
                  </td>
                </tr>
                <tr *ngFor="let item of recommedation; let i = index">
                  <th scope="row">{{ i | increment }}</th>
                  <td>{{ item.calorie}}</td>
                  <td>{{ item.carbonhydrate }}</td>
                  <td>{{ item.fat }}</td>
                  <td>{{ item.protein }}</td>
                  <td>{{ item.date }}</td>
                  <td>
                    <button routerLink="/trainer/editDietRecommendation/{{ item.id }}/{{guestId}}" class="btn btn-primary btn-sm me-2">
                      <fa-icon [icon]="faEdit"></fa-icon>
                    </button>
                    <button (click)="onDelete(item.id)" class="btn btn-danger btn-sm">
                      <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
