<main id="main" class="main">
    <div class="pagetitle">
      <h1>Gyakorlat szerkesztése</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Kezdőlap</a></li>
          <li class="breadcrumb-item">Edzés</li>
          <li class="breadcrumb-item">Edzés napló</li>
          <li class="breadcrumb-item active">Gyakorlat szerkesztése</li>
        </ol>
      </nav>
    </div>
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header mb-3"> Gyakorlat szerkesztése</div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <form class="row g-3" [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
                    <div class="col-md-12">
                      <div class="form-floating mb-3">
                        <select
                          class="form-select"
                          id="floatingSelect"
                          aria-label="Floating label select example"
                          formControlName="exerciseId"
                        >
                          <option *ngFor="let exercise of exercises" [value]="exercise.id">
                            {{ exercise.name }}
                          </option>
                        </select>
                        <label for="floatingSelect">Gyakorlat</label>
                      </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 0;">
                      <div class="form-floating">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="sets"
                          id="floatingEmail"
                          placeholder="Your Email"
                          
                        />
                        <label for="floatingEmail">Sorozatszám</label>
                      </div>
                      <span
                        class="text-danger"
                        *ngIf="this.workoutForm.get('sets')?.errors?.['pattern'] && this.workoutForm.get('sets')?.touched"
                      >
                        A sorozatszám csak szám lehet!
                      </span>
                      <span
                        class="text-danger"
                        *ngIf="this.workoutForm.get('sets')?.errors?.['required'] && this.workoutForm.get('sets')?.touched"
                      >
                        A sorozatszám kitöltése kötelező!
                      </span>
                    </div>
                    <div class="col-md-6" style="margin-top: 0;">
                      <div class="form-floating">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="repetitions"
                          id="floatingPassword"
                          placeholder="Password"
                          
                        />
                        <label for="floatingPassword">Ismétlésszám</label>
                      </div>
                      <span
                        class="text-danger"
                        *ngIf="this.workoutForm.get('repetitions')?.errors?.['pattern'] && this.workoutForm.get('repetitions')?.touched"
                      >
                        Az ismétlésszám csak szám lehet!
                      </span>
                      <span
                        class="text-danger"
                        *ngIf="this.workoutForm.get('repetitions')?.errors?.['required'] && this.workoutForm.get('repetitions')?.touched"
                      >
                        Az ismétlésszám kitöltése kötelező!
                      </span>
                    </div>
                    <div class="col-12">
                      <div class="form-floating">
                        <input
                          type="date"
                          class="form-control"
                          formControlName="date"
                          id="floatingPassword"
                          placeholder="Password"
                        />
                        <label for="floatingPassword">Dátum</label>
                      </div>
                      <span
                        class="text-danger"
                        *ngIf="this.workoutForm.get('date')?.errors?.['required'] && this.workoutForm.get('date')?.touched"
                      >
                        A dátum kitöltése kötelező!
                      </span>
                    </div>
                    <div class="text-center">
                        <button [disabled]="workoutForm.invalid" class="btn btn-primary">Mentés</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  