<main id="main" class="main">
  <div class="pagetitle">
    <h1>{{ "panel" | translate }}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">{{ "kezdolap" | translate }}</a>
        </li>
        <li class="breadcrumb-item active">{{ "panel" | translate }}</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-8" *ngIf="!isTrainer">
        <div class="row">
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">{{"kaloria" | translate}} <span>| {{"mai_nap" | translate}}</span></h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <fa-icon [icon]="drumstickBite"></fa-icon>
                  </div>
                  <div class="ps-3">
                    <h6>{{ caloriesSum?.sumCaloriesByDay }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">{{"kaloria" | translate}} <span>| {{"ezen_a_heten" | translate }} </span></h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <fa-icon [icon]="faHamburger"></fa-icon>
                  </div>
                  <div class="ps-3">
                    <h6>{{ caloriesSum?.sumCaloriesByWeek }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Revenue Card -->

          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">
                  {{"kaloria" | translate}} <span>| {{"ebben_a_honapban" | translate}} </span>
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <fa-icon [icon]="faFish"></fa-icon>
                  </div>
                  <div class="ps-3">
                    <h6>{{ caloriesSum?.sumCaloriesByMonth }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Customers Card -->

          <!-- Reports -->
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  {{ "makrotapanyagok" | translate }} <span>| {{"heti" |translate}}</span>
                </h5>

                <!-- Line Chart -->
                <div *ngIf="datasets.length == 0">
                  <div class="alert alert-info">
                    <i class="bi bi-info-circle me-1"></i>
                    {{ "nem_talalhato_adat" | translate }}
                  </div>
                </div>
                <div
                  id="reportsChart"
                  *ngIf="datasets.length > 0 && labels.length > 0"
                >
                  <app-bar-chart
                    *ngIf="labels.length > 0 && datasets.length > 0"
                    [datasets]="datasets"
                    [labels]="labels"
                  ></app-bar-chart>
                </div>
                <!-- End Line Chart -->
              </div>
            </div>
          </div>
          <!-- End Reports -->

          <!-- Top Selling -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">
              <div class="card-body pb-0">
                <h5 class="card-title">
                  {{"leggyakrabban_vegzett_gyakorlatok" | translate}} <span>| {{"eves" | translate}}</span>
                </h5>
                <div *ngIf="recentlyUsedExercise.length == 0">
                  <div class="alert alert-info">
                    <i class="bi bi-info-circle me-1"></i>
                    {{ "nem_talalhato_adat" | translate }}
                  </div>
                </div>
                <table
                  class="table table-striped"
                  *ngIf="recentlyUsedExercise.length > 0"
                >
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Gyakorlat</th>
                      <th scope="col">Össz. ismétlés</th>
                      <th scope="col">Össz. sorozat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let item of recentlyUsedExercise; let i = index"
                    >
                      <th scope="row">
                        {{ i | increment }}
                      </th>
                      <td>
                        {{ item.exercise }}
                      </td>
                      <td>{{ item.sumRepetitions }}</td>
                      <td>{{ item.sumSets }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- End Top Selling -->
        </div>
      </div>
      <!-- End Left side columns -->

      <!--Left side columns for trainer -->
      <div class="col-lg-8" *ngIf="isTrainer && trainerGuest.length > 0">
        <div class="row">
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Vendégek <span>| Darab</span></h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <fa-icon [icon]="faGuest"></fa-icon>
                  </div>
                  <div class="ps-3">
                    <h6>{{ trainerGuest.length }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">
                  Tápérték ajánlások <span>| Darab</span>
                </h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <fa-icon [icon]="faFish"></fa-icon>
                  </div>
                  <div class="ps-3">
                    <h6>{{ trainerDietRecommendationCount }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Edzésterv <span>| Darab</span></h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <fa-icon [icon]="faWorkout"></fa-icon>
                  </div>
                  <div class="ps-3">
                    <h6>{{ trainerWorkoutPlanCount }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Top Selling -->
        <div class="col-12">
          <div class="card top-selling overflow-auto">
            <div class="card-body pb-0">
              <h5 class="card-title">Aktív vendégek <span>| Jelenleg</span></h5>
              <div *ngIf="trainerGuest.length == 0">
                <div class="alert alert-info">
                  <i class="bi bi-info-circle me-1"></i>
                  {{ "nem_talalhato_adat" | translate }}
                </div>
              </div>
              <table
                class="table table-striped"
                *ngIf="trainerGuest.length > 0"
              >
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Vezetéknév</th>
                    <th>Keresztnév</th>
                    <th>Elérhetőség</th>
                    <th>Nem</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of trainerGuest; let i = index">
                    <th>
                      <strong>{{ i | increment }}</strong>
                    </th>
                    <td>{{ item.first_name }}</td>
                    <td>{{ item.last_name }}</td>
                    <td>{{ item.email }}</td>
                    <td>
                      <ng-container
                        *ngIf="
                          item.gender !== undefined && item.gender;
                          else female
                        "
                      >
                        <fa-icon
                          [icon]="faMale"
                          style="font-size: 22px; color: green"
                        ></fa-icon>
                      </ng-container>
                      <ng-template #female>
                        <fa-icon
                          [icon]="faFemale"
                          style="font-size: 22px; color: red"
                        ></fa-icon>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End Top Selling -->
      </div>
      <!-- End Left side columns for trainer -->

      <!-- Right side columns -->
      <div class="col-lg-4" *ngIf="!isTrainer">
        <!-- Recent Activity -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{"edzes_rendszeresseg" | translate}} <span>| {{"eves" | translate}}</span></h5>
            <div *ngIf="exerciseRegularity.length == 0">
              <div class="alert alert-info">
                <i class="bi bi-info-circle me-1"></i>
                {{ "nem_talalhato_adat" | translate }}
              </div>
            </div>
            <div class="activity" *ngIf="exerciseRegularity.length > 0">
              <div
                class="activity-item d-flex"
                *ngFor="let item of exerciseRegularity"
              >
                <div class="activite-label">{{ getDayName(item.month) }}</div>
                <i
                  class="bi bi-circle-fill activity-badge text-success align-self-start"
                ></i>
                <div class="activity-content">{{ item.count }} db edzés</div>
              </div>
              <!-- End activity item-->
            </div>
          </div>
        </div>
        <!-- End Recent Activity -->

        <!-- Budget Report -->
        <div class="card">
          <div class="card-body pb-0">
            <h5 class="card-title">{{"etelek_gyakorisaga" | translate}} <span>| {{"havi" | translate}}</span></h5>
            <div *ngIf="pieLabels.length == 0 && pieDatasets.length == 0">
              <div class="alert alert-info">
                <i class="bi bi-info-circle me-1"></i>
                {{ "nem_talalhato_adat" | translate }}
              </div>
            </div>
            <app-pie-chart
              *ngIf="pieLabels.length > 0 && pieDatasets.length > 0"
              [labels]="pieLabels"
              [datasets]="pieDatasets"
            ></app-pie-chart>
          </div>
        </div>
        <!-- End Budget Report -->
      </div>

      <!-- Right side columns -->
      <div class="col-lg-4" *ngIf="isTrainer">
        <!-- Recent Activity -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Legutóbbi értesítések <span>| Vendégek</span>
            </h5>
            <div class="activity">
              <div *ngIf="guestNotifications.length == 0">
                Nincsenek értesítések.
              </div>
              <div *ngFor="let item of guestNotifications">
                <div class="activity-item d-flex" *ngIf="item.type == 'DIET'">
                  <ng-container
                    *ngIf="
                      calculateDaysAndWeeksBetweenDates(item.date, endDate)
                        .weeks > 0;
                      else showDays
                    "
                  >
                    <div class="activite-label">
                      {{
                        calculateDaysAndWeeksBetweenDates(item.date, endDate)
                          .weeks
                      }}
                      hete
                    </div>
                  </ng-container>
                  <ng-template #showDays>
                    <div class="activite-label">
                      {{
                        calculateDaysAndWeeksBetweenDates(item.date, endDate)
                          .days
                      }}
                      napja
                    </div>
                  </ng-template>
                  <i
                    class="bi bi-circle-fill activity-badge text-success align-self-start"
                  ></i>
                  <div class="activity-content">
                    {{ item.message }}
                  </div>
                </div>
                <!-- End activity item-->
                <div
                  class="activity-item d-flex"
                  *ngIf="item.type == 'EXERCISE'"
                >
                  <div class="activite-label">56 min</div>
                  <i
                    class="bi bi-circle-fill activity-badge text-danger align-self-start"
                  ></i>
                  <div class="activity-content">
                    {{ item.message }}
                  </div>
                </div>
                <!-- End activity item-->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- End Right side columns -->
    </div>
  </section>
</main>
<!-- End #main -->
