<main id="main" class="main">
  <div class="pagetitle">
    <h1>Étrend napló</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Kezdőlap</a></li>
        <li class="breadcrumb-item">Étrend</li>
        <li class="breadcrumb-item active">Étrend napló</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-6">
                <p>Dátum kiválasztása</p>
              </div>
              <div class="col-lg-6 text-end">
                <button
                  *ngIf="diet && diet.diet.length > 0"
                  class="btn btn-danger"
                  (click)="deleteDiet()"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="form-floating mb-3">
              <input
                type="text"
                (input)="formatDateInput($event)"
                name=""
                class="form-control"
                [(ngModel)]="date"
                (blur)="loadDietByDate()"
                id=""
              />
              <label for="floatingSelect">Dátum</label>
            </div>
          </div>
        </div>
        <div *ngIf="diet && diet.diet.length == 0" class="alert alert-warning">
          Ehhez a naphoz nem található étrend.
        </div>
        <div *ngIf="diet && diet.diet.length > 0" class="card">
          <div class="card-header">Ételek</div>
          <div class="card-body">
            <table class="table table-bordered mt-3">
              <thead>
                <tr>
                  <th>Étel neve</th>
                  <th>Mennyiség</th>
                  <th>Típus</th>
                  <th class="text-end">Szénhidrát (g)</th>
                  <th class="text-end">Fehérje (g)</th>
                  <th class="text-end">Zsír (g)</th>
                  <th class="text-end">Kalória (kCal)</th>
                  <th>Művelet</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let food of diet.diet">
                  <td>{{ food.food?.name }}</td>
                  <td>{{ food.quantity }}</td>
                  <td>{{ translateType(food.type) }}</td>
                  <td class="text-end">{{ food.food?.carbonhydrate }}</td>
                  <td class="text-end">{{ food.food?.protein }}</td>
                  <td class="text-end">{{ food.food?.fat }}</td>
                  <td class="text-end">{{ food.food?.calorie }}</td>
                  <td>
                    <button
                      class="btn btn-primary me-2"
                      routerLink="/diet/edit-food/{{food.id}}"
                    >
                      Szerkesztés
                    </button>
                    <button
                      (click)="removeFood(food.id)"
                      class="btn btn-danger"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <th colspan="3">Összesen:</th>
                  <td class="text-end">{{ diet.carbonhydrateSum }}</td>
                  <td class="text-end">{{ diet.proteinSum }}</td>
                  <td class="text-end">{{ diet.fatSum }}</td>
                  <td class="text-end">{{ diet.calorieSum }}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header mb-3">Makrotápanyagok</div>
          <div class="card-body">
            <canvas
              baseChart
              class="chart"
              [data]="pieChartData"
              [type]="pieChartType"
              [options]="pieChartOptions"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
