<main id="main" class="main">
  <div class="pagetitle">
    <h1>{{ "etkezesi_naplo" | translate }}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">{{ "kezdolap" | translate }}</a>
        </li>
        <li class="breadcrumb-item">{{ "etrend" | translate }}</li>
        <li class="breadcrumb-item active">
          {{ "etkezesi_naplo" | translate }}
        </li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-6">
                <p>{{ "datum" | translate }}</p>
              </div>
              <div class="col-lg-6 text-end">
                <button
                  *ngIf="diet && diet.diet.length > 0 && giveByTrainer"
                  class="btn btn-danger"
                  (click)="deleteDiet()"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body mt-3">
            <div class="form-floating mb-3">
              <input
                (input)="loadDietByDate()"
                [(ngModel)]="date"
                type="date"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">{{ "datum" | translate }}</label>
            </div>
          </div>
        </div>
        <div *ngIf="diet && diet.diet.length == 0" class="alert alert-warning">
          Ehhez a naphoz nem található étrend.
        </div>
        <div *ngIf="diet && diet.diet.length > 0" class="card">
          <div class="card-header">{{ "etelek" | translate }}</div>
          <div class="card-body">
            <table class="table table-bordered mt-3">
              <thead>
                <tr>
                  <th>{{ "etel_nev" | translate }}</th>
                  <th>{{ "mennyiseg" | translate }}</th>
                  <th>{{ "tipus" | translate }}</th>
                  <th class="text-end">{{ "szenhidrat" | translate }} (g)</th>
                  <th class="text-end">{{ "feherje" | translate }} (g)</th>
                  <th class="text-end">{{ "zsir" | translate }} (g)</th>
                  <th class="text-end">{{ "kaloria" | translate }} (kCal)</th>
                  <th>{{ "muvelet" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let food of diet.diet">
                  <td>{{ food.name }}</td>
                  <td>{{ food.quantity }}</td>
                  <td>{{ translateType(food.foodType) }}</td>
                  <td class="text-end">{{ food.carbonhydrate }}</td>
                  <td class="text-end">{{ food.protein }}</td>
                  <td class="text-end">{{ food.fat }}</td>
                  <td class="text-end">{{ food.calorie }}</td>
                  <td>
                    <button
                    *ngIf="!food.trainerId"
                      class="btn btn-primary btn-sm me-2"
                      routerLink="/diet/edit-food/{{ food.dietId }}"
                    >
                      {{ "szerkesztes" | translate }}
                    </button>
                    <button
                      class="btn btn-success btn-sm me-2"
                      (click)="sendNotificationToTrainer(food)"
                      *ngIf="!food.eated"
                    >
                      {{ "elfogyasztas" | translate }}
                    </button>
                    <button
                      class="btn btn-success btn-sm me-2"
                      *ngIf="food.eated"
                      disabled
                    >
                      <i class="bi bi-check" *ngIf="food.eated"></i>
                      {{ "elfogyasztva" | translate }}
                    </button>
                    <button
                    *ngIf="!food.trainerId"
                      (click)="removeFood(food.dietId)"
                      class="btn btn-danger btn-sm"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <th colspan="3">{{ "osszesen" | translate }}:</th>
                  <td class="text-end">{{ diet.carbonhydrateSum }}</td>
                  <td class="text-end">{{ diet.proteinSum }}</td>
                  <td class="text-end">{{ diet.fatSum }}</td>
                  <td class="text-end">{{ diet.calorieSum }}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header mb-3">
            {{ "makrotapanyagok" | translate }}
          </div>
          <div class="card-body">
            <canvas
              baseChart
              class="chart"
              [data]="pieChartData"
              [type]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
