<main id="main" class="main">
  <div class="pagetitle">
    <h1>Személyi edző kiválasztása</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Kezdőlap</a></li>
        <li class="breadcrumb-item active">Edző kiválasztása</li>
      </ol>
    </nav>
  </div>
  <div class="row align-items-top">
    <div class="col-lg-2" *ngFor="let t of trainers">
      <div class="card">
        <img [src]="t.user?.profilePictureName" class="card-img-top" alt="Edző profilképe" />
        <div class="card-body">
          <h5 class="card-title">{{t.first_name + " " + t.last_name}}</h5>
          <p class="card-text">
            {{t.type}}
          </p>
        </div>
        <div class="card-footer">
            <button class="btn btn-success" [disabled]="user?.guest != null && user?.guest?.trainer != null" (click)="chooseTrainer(t)">Kiválaszt</button>
          </div>
      </div>
    </div>
  </div>
</main>
