<main id="main" class="main">
  <div class="row align-items-top">
    <div class="col-lg-2" *ngFor="let t of trainers">
      <div class="card">
        <img [src]="t.userProfileImage" class="card-img-top" alt="Edző profilképe" />
        <div class="card-body">
          <h5 class="card-title">{{t.trainer.first_name + " " + t.trainer.last_name}}</h5>
          <p class="card-text">
            {{t.trainer.type}}
          </p>
        </div>
        <div class="card-footer">
            <button class="btn btn-success" [disabled]="user?.guest != null && user?.guest?.trainer != null" (click)="chooseTrainer(t.trainer)">Kiválaszt</button>
          </div>
      </div>
    </div>
  </div>
</main>
