<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
  
      <li class="nav-item">
        <a class="nav-link " routerLink="dashboard">
          <i class="bi bi-grid"></i>
          <span>Kezdőlap</span>
        </a>
      </li><!-- End Dashboard Nav -->  
      <li class="nav-item">
        <a class="nav-link " routerLink="chat">
          <i class="bi bi-chat"></i>
          <span>Chat</span>
        </a>
      </li>
      <li *ngIf="auth?.guest != null" class="nav-item">
        <a class="nav-link " routerLink="trainer">
          <i class="bi bi-choose"></i>
          <span>Edző kiválasztása</span>
        </a>
      </li>
    </ul>
  
  </aside><!-- End Sidebar-->
  
  