<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="dashboard">
        <i class="bi bi-grid"></i>
        <span>{{'kezdolap'| translate}}</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="auth?.trainer != null">
      <a routerLink="trainer" class="nav-link">
        <i class="bi bi-people"></i>
        <span>{{'vendegek' | translate}}</span>
      </a>
    </li>

    <li class="nav-item">
      <span
        class="nav-link collapsed"
        style="cursor: pointer"
        (click)="toggleULVisibility()"
        data-bs-target="#forms-nav"
        data-bs-toggle="collapse"
        href="#"
        [ngClass]="{active: isEtrendVisible}"
      >
        <i class="bi bi-shop-window" [ngClass]="{active: isEtrendVisible}"></i><span>{{'etrend' | translate}}</span
        >
        <i *ngIf="!isEtrendVisible" class="bi bi-chevron-down ms-auto"></i>
        <i *ngIf="isEtrendVisible" class="bi bi-chevron-up ms-auto"></i>
      </span>
      <ul
        id="forms-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
        [ngClass]="{show: isEtrendVisible }"
      >
        <li>
          <a routerLinkActive="active-color" [routerLinkActiveOptions]="{exact: true}" routerLink="diet/food">
            <i class="bi bi-circle"></i><span>{{'etelek'|translate}}</span>
          </a>
        </li>
        <li *ngIf="auth?.guest; else trainerLink">
          <a routerLinkActive="active-color" [routerLinkActiveOptions]="{exact: true}" routerLink="diet/create">
            <i class="bi bi-circle"></i><span>{{'etrend_tervezes'|translate}}</span>
          </a>
        </li>
        <ng-template #trainerLink>
          <li>
            <a routerLinkActive="active-color" [routerLinkActiveOptions]="{exact: true}" routerLink="diet/create-trainer">
              <i class="bi bi-circle"></i><span>{{'etrend_tervezes'|translate}}</span>
            </a>
          </li>
        </ng-template>
          <li *ngIf="auth?.trainer != null">
            <a routerLinkActive="active-color" [routerLinkActiveOptions]="{exact: true}" routerLink="diet/trainer-diary">
              <i class="bi bi-circle"></i><span>{{'etkezesi_naplo'|translate}}</span>
            </a>
          </li>
      </ul>
    </li>
    <!-- End Forms Nav -->

    <li class="nav-item">
      <span
        class="nav-link collapsed"
        style="cursor: pointer"
        (click)="toggleEdzesMenuVisible()"
        data-bs-target="#forms-nav"
        data-bs-toggle="collapse"
        href="#"
        [ngClass]="{active: isEdzesVisible}"
      >
        <i class="bi bi-heart-pulse" [ngClass]="{active: isEdzesVisible}"></i><span>{{'edzes'|translate}}</span
        > <i *ngIf="!isEdzesVisible" class="bi bi-chevron-down ms-auto"></i>
        <i *ngIf="isEdzesVisible" class="bi bi-chevron-up ms-auto"></i>
      </span>
      <ul
        id="forms-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
        [ngClass]="{ show: isEdzesVisible }"
      >
        <li>
          <a routerLinkActive="active-color" [routerLinkActiveOptions]="{exact: true}" routerLink="workout/exercises">
            <i class="bi bi-circle"></i><span>{{'gyakorlatok'|translate}}</span>
          </a>
        </li>
        <li *ngIf="auth?.guest; else trainerlink">
          <a routerLinkActive="active-color" [routerLinkActiveOptions]="{exact: true}" routerLink="workout/create">
            <i class="bi bi-circle"></i><span>{{'edzes_tervezes'|translate}}</span>
          </a>
        </li>
        <ng-template #trainerlink>
          <li>
            <a routerLinkActive="active-color" [routerLinkActiveOptions]="{exact: true}" routerLink="workout/create-trainer">
              <i class="bi bi-circle"></i><span>{{'edzes_tervezes'|translate}}</span>
            </a>
          </li>
        </ng-template>
          <li *ngIf="auth?.trainer != null">
            <a routerLinkActive="active-color" [routerLinkActiveOptions]="{exact: true}" routerLink="workout/trainer-training-log">
              <i class="bi bi-circle"></i><span>{{'edzes_naplo'|translate}}</span>
            </a>
          </li>
      </ul>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
      <a class="nav-link" routerLink="calendar">
        <i class="bi bi-calendar"></i>
        <span>{{"naptar" | translate}}</span>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
      <a class="nav-link" routerLink="chat">
        <i class="bi bi-chat"></i>
        <span>{{"uzenofal" | translate}}</span>
      </a>
    </li>
    <!-- End Forms Nav -->
  </ul>
  <div class="position-absolute" style="bottom: 25px; left: 40%">
    <img width="25px" (click)="changeLang('hu')" style="cursor: pointer" class="me-2" src="../../../assets/flags/hungary.png" alt="">
    <img width="25px" (click)="changeLang('en')" style="cursor: pointer" src="../../../assets/flags/united-kingdom.png" alt="">
  </div>
</aside>
<!-- End Sidebar-->
