<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard">
        <i class="bi bi-grid"></i>
        <span>Kezdőlap</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->
    <li *ngIf="auth?.guest != null" class="nav-item">
      <a class="nav-link" routerLink="trainer">
        <i class="bi bi-person-plus"></i>
        <span>Edző kiválasztása</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="auth?.trainer != null">
      <a routerLink="trainer/trainer-guests" class="nav-link">
        <i class="bi bi-people"></i>
        <span>Vendégeim</span>
      </a>
    </li>

    <li class="nav-item">
      <span
        class="nav-link collapsed"
        style="cursor: pointer"
        (click)="toggleULVisibility()"
        data-bs-target="#forms-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-shop-window"></i><span>Étrend</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </span>
      <ul
        id="forms-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
        [ngClass]="{ show: isEtrendVisible }"
      >
        <li>
          <a routerLink="diet/food">
            <i class="bi bi-circle"></i><span>Ételek</span>
          </a>
        </li>
        <li *ngIf="auth?.guest; else trainerLink">
          <a routerLink="diet/create">
            <i class="bi bi-circle"></i><span>Étrend tervezés</span>
          </a>
        </li>
        <ng-template #trainerLink>
          <li>
            <a routerLink="diet/create-trainer">
              <i class="bi bi-circle"></i><span>Étrend tervezés</span>
            </a>
          </li>
        </ng-template>
        
        <li *ngIf="auth?.guest != null">
          <a routerLink="diet/diary">
            <i class="bi bi-circle"></i><span>Étkezési napló</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Forms Nav -->

    <li class="nav-item">
      <span
        class="nav-link collapsed"
        style="cursor: pointer"
        (click)="toggleEdzesMenuVisible()"
        data-bs-target="#forms-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-heart-pulse"></i><span>Edzés</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </span>
      <ul
        id="forms-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
        [ngClass]="{ show: isEdzesVisible }"
      >
        <li>
          <a routerLink="workout/exercises">
            <i class="bi bi-circle"></i><span>Gyakorlatok</span>
          </a>
        </li>
        <li>
          <a routerLink="workout/create">
            <i class="bi bi-circle"></i><span>Edzés tervezés</span>
          </a>
        </li>
        <li *ngIf="auth?.guest != null">
          <a routerLink="workout/training-log">
            <i class="bi bi-circle"></i><span>Edzés napló</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Forms Nav -->
    <li class="nav-heading">Chat</li>
    <div style="height: 500px; overflow: auto; scrollbar-width: thin">
      <li *ngFor="let user of users" class="p-2 border-bottom">
        <a
          (click)="chooseUser(user)"
          style="cursor: pointer"
          class="d-flex justify-content-between"
        >
          <div class="d-flex flex-row">
            <div>
              <img
                [src]="user.profilePictureName"
                alt="Profil kép"
                class="d-flex align-self-center me-3"
                width="60"
              />
              <span class="badge bg-success badge-dot"></span>
            </div>
            <div class="pt-1">
              <p class="fw-bold mb-0">
                {{
                  (user.firstName) +
                    " " +
                    (user.lastName)
                }}
              </p>
              <p class="small text-muted">Hello, Are you there?</p>
            </div>
          </div>
        </a>
      </li>
    </div>
  </ul>
</aside>
<!-- End Sidebar-->
