<main id="main" class="main">
  <div class="pagetitle">
    <h1>Ételek</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Kezdőlap</a></li>
        <li class="breadcrumb-item">Étrend</li>
        <li class="breadcrumb-item active">Ételek</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <button routerLink="/diet/addFood" class="btn btn-primary">Új étel</button>
            </div>
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Név</th>
                  <th scope="col">Kalória (100g)</th>
                  <th scope="col">Szénhidrát (100g)</th>
                  <th scope="col">Fehérje (100g)</th>
                  <th scope="col">Zsír (100g)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let f of foods">
                  <th scope="row">{{f.id}}</th>
                  <td>{{f.name}}</td>
                  <td class="text-center">{{f.calorie}}</td>
                  <td class="text-center">{{f.carbonhydrate}}</td>
                  <td class="text-center">{{f.protein}}</td>
                  <td class="text-center">{{f.fat}}</td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
            <nav *ngIf="pages.length > 1" aria-label="Page navigation example">
              <ul *ngIf="foods.length > 0" class="pagination">
                <li class="page-item">
                  <span style="cursor: pointer;" (click)="previousPage()" class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </span>
                </li>
                <li *ngFor="let page of pages; index as i" class="page-item"><span style="cursor: pointer;" (click)="changePage(i)" class="page-link" href="#">{{page | increment}}</span></li>
                <li class="page-item">
                  <span style="cursor: pointer;" (click)="nextPage()" class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </span>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
