<main class="main" id="main">
  <div class="pagetitle">
    <h1>{{ "edzes_naplo" | translate }}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">{{ "kezdolap" | translate }}</a>
        </li>
        <li class="breadcrumb-item">{{ "edzes" | translate }}</li>
        <li class="breadcrumb-item active">{{ "edzes_naplo" | translate }}</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div *ngIf="guests.length == 0">
      <div class="alert alert-info">
        <i class="bi bi-info-circle me-1"></i>
        {{ "nincs_vendeg" | translate }}
      </div>
    </div>
    <div class="row" *ngIf="guests.length > 0">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">{{ "vendeg_kivalasztasa" | translate }}</div>
          <div class="card-body mt-3">
            <div class="form-floating mb-3">
              <select
                (change)="changeGuest()"
                [(ngModel)]="selectedGuest"
                class="form-select"
              >
                <option *ngFor="let guest of guests" [value]="guest.id">
                  {{ guest.first_name + " " + guest.last_name }}
                </option>
              </select>
              <label for="floatingSelect">{{ "vendeg" | translate }}</label>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-6">
                <p>{{ "datum" | translate }}</p>
              </div>
              <div class="col-lg-6 text-end">
                <button
                  *ngIf="date != '' && workouts.length > 0 && giveByTrainer"
                  class="btn btn-danger btn-sm"
                  (click)="deleteWorkout()"
                >
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="form-floating mb-3 mt-3">
              <input
                type="date"
                class="form-control"
                id="floatingInput"
                [(ngModel)]="date"
                (ngModelChange)="change()"
              />
              <label for="floatingInput">{{ "datum" | translate }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card" *ngIf="workouts && workouts.length > 0">
          <div class="card-header">{{ "edzes_naplo" | translate }}</div>
          <div class="card-body">
            <table class="table table-bordered mt-3">
              <thead>
                <tr>
                  <th>{{ "gyakorlat" | translate }}</th>
                  <th>{{ "testresz" | translate }}</th>
                  <th>{{ "sorozatszam" | translate }}</th>
                  <th>{{ "ismetlesszam" | translate }}</th>
                  <th *ngIf="giveByTrainer">{{ "muvelet" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let workout of workouts">
                  <td>{{ workout.exercise.name }}</td>
                  <td>
                    {{ targetedBodyPart(workout.exercise.targetedBodyPart) }}
                  </td>
                  <td>{{ workout.sets }}</td>
                  <td>{{ workout.repetitions }}</td>
                  <td *ngIf="giveByTrainer">
                    <button
                    *ngIf="workout.trainer"
                      class="btn btn-primary me-2 btn-sm"
                      routerLink="/workout/edit/{{ workout.workoutId }}"
                    >
                      <fa-icon [icon]="faEdit"></fa-icon>
                    </button>
                    <button
                    *ngIf="workout.trainer"
                      class="btn btn-danger btn-sm"
                      (click)="deleteExercise(workout.workoutId)"
                    >
                      <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
