<main class="main" id="main">
  <div class="pagetitle">
    <h1>{{'uj_gyakorlat'|translate}}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">{{'kezdolap'|translate}}</a></li>
        <li class="breadcrumb-item">{{'edzes'|translate}}</li>
        <li class="breadcrumb-item">{{'gyakorlatok'|translate}}</li>
        <li class="breadcrumb-item active">{{'uj_gyakorlat'|translate}}</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{'gyakorlat_hozzaadasa'|translate}}</h5>
            <form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >{{'nev'|translate}}</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    formControlName="name"
                    class="form-control"
                    id="inputText"
                  />
                  <span
                    class="text-danger"
                    *ngIf="this.exerciseForm.get('name')?.errors?.['required'] && this.exerciseForm.get('name')?.touched"
                  >
                    A név kitöltése kötelező!
                  </span>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >{{'leiras'|translate}}</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    formControlName="description"
                    class="form-control"
                    id="inputText"
                  />
                  <span
                    class="text-danger"
                    *ngIf="this.exerciseForm.get('description')?.errors?.['required'] && this.exerciseForm.get('description')?.touched"
                  >
                    A leírás kitöltése kötelező!
                  </span>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">{{'celzott_testresz'|translate}}</label>
                <div class="col-sm-10">
                  <select
                    formControlName="targetedBodyPart"
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option value="CHEST">{{'mell'|translate}}</option>
                    <option value="LEGS">{{'lab'|translate}}</option>
                    <option value="BACK">{{'hat'|translate}}</option>
                    <option value="ARMS">{{'kar'|translate}}</option>
                    <option value="SHOULDER">{{'kar'|translate}}</option>
                    <option value="ABS">{{'has'|translate}}</option>
                  </select>
                  <span
                    class="text-danger"
                    *ngIf="this.exerciseForm.get('targetedBodyPart')?.errors?.['required'] && this.exerciseForm.get('targetedBodyPart')?.touched"
                  >
                    A célzott testrész kitöltése kötelező!
                  </span>
                </div>
              </div>
              <div class="text-center">
                <button
                  [disabled]="exerciseForm.invalid"
                  type="submit"
                  class="btn btn-primary"
                >
                {{'mentes'|translate}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
