<main class="main" id="main">
  <div class="pagetitle">
    <h1>Új gyakorlat</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Kezdőlap</a></li>
        <li class="breadcrumb-item">Edzés</li>
        <li class="breadcrumb-item">Gyakorlatok</li>
        <li class="breadcrumb-item active">Új gyakorlat</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gyakorlat hozzáadása</h5>
            <form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >Név</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    formControlName="name"
                    class="form-control"
                    id="inputText"
                  />
                  <span
                    class="text-danger"
                    *ngIf="this.exerciseForm.get('name')?.errors?.['required'] && this.exerciseForm.get('name')?.touched"
                  >
                    A név kitöltése kötelező!
                  </span>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >Leírás</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    formControlName="description"
                    class="form-control"
                    id="inputText"
                  />
                  <span
                    class="text-danger"
                    *ngIf="this.exerciseForm.get('description')?.errors?.['required'] && this.exerciseForm.get('description')?.touched"
                  >
                    A leírás kitöltése kötelező!
                  </span>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Célzott testrész</label>
                <div class="col-sm-10">
                  <select
                    formControlName="targetedBodyPart"
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option value="CHEST">Mell</option>
                    <option value="LEGS">Láb</option>
                    <option value="BACK">Hát</option>
                    <option value="ARMS">Kar</option>
                    <option value="SHOULDER">Váll</option>
                    <option value="ABS">Has</option>
                  </select>
                  <span
                    class="text-danger"
                    *ngIf="this.exerciseForm.get('targetedBodyPart')?.errors?.['required'] && this.exerciseForm.get('targetedBodyPart')?.touched"
                  >
                    A célzott testrész kitöltése kötelező!
                  </span>
                </div>
              </div>
              <div class="text-center">
                <button
                  [disabled]="exerciseForm.invalid"
                  type="submit"
                  class="btn btn-primary"
                >
                  Mentés
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
