<main id="main" class="main">
  <div class="pagetitle">
    <h1>Étrend tervezés</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Kezdőlap</a></li>
        <li class="breadcrumb-item">Étrend</li>
        <li class="breadcrumb-item active">Étrend tervezés</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-7">
        <div class="card">
          <div class="card-header">Étel kiválasztása</div>
          <div class="card-body mt-3">
            <div class="row">
              <div class="col-lg-9">
                <select name="etel" class="form-select" (change)="onSelected($event.target)">
                    <option *ngFor="let food of foods" [value]="food.id">{{food.name}}</option>
                </select>
              </div>
              <div class="col-lg-3">
                <button class="btn btn-primary" (click)="addFoodToDiet()">Hozzáad</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Ételek <br />
            <strong>2023-01-25</strong>
          </div>
          <div class="card-body">
            <table class="table table-bordered mt-3">
              <thead>
                <tr>
                  <th>Étel neve</th>
                  <th>Mennyiség</th>
                  <th>Szénhidrát (g)</th>
                  <th>Fehérje (g)</th>
                  <th>Zsír (g)</th>
                  <th>Kalória (kCal)</th>
                  <th>Művelet</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="dietFoods.length > 0">
                    <tr *ngFor="let food of dietFoods">
                        <td>{{food.name}}</td>
                        <td>10</td>
                        <td>{{food.carbonhydrate}}</td>
                        <td>{{food.protein}}</td>
                        <td>{{food.fat}}</td>
                        <td>{{food.calorie}}</td>
                        <td><button class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
                    </tr>
                </ng-container>
                <tr>
                  <th colspan="2">Összesen:</th>
                  <td>{{sum.carbonhydrate}}</td>
                  <td>{{sum.protein}}</td>
                  <td>{{sum.fat}}</td>
                  <td class="text-end">{{sum.calorie}}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card">
          <div class="card-header mb-3">Makrotápanyagok</div>
          <div class="card-body">
            <canvas
            baseChart
            class="chart"
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
          >
          </canvas>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
