<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">{{'jelentkezz_be' | translate}}</h5>
                    <p class="text-center small">{{'felhasznalonev_es_jelszo'|translate}}</p>
                  </div>

                  <form class="row g-3 needs-validation" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">{{'felhasznalonev'| translate}}</label>
                      <div class="input-group has-validation">
                        <input type="text" name="username" formControlName="username" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback" [ngClass]="{'active': this.loginForm.get('username')?.errors?.['required'] && (this.loginForm.get('username')?.dirty || this.loginForm.get('username')?.touched)}">A felhasználónév megadása kötelező.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">{{'jelszo'| translate}}</label>
                      <input type="password" name="password" formControlName="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback" [ngClass]="{'active': this.loginForm.get('password')?.errors?.['required'] && (this.loginForm.get('password')?.dirty || this.loginForm.get('password')?.touched)}">A jelszó megadása kötelező.</div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">{{'nyelv' |translate}}</label>
                      <select (change)="changeLang($event)" name="" class="form-select" id="">
                        <option [selected]="lang==='hu'" value="hu">{{'magyar'|translate}}</option>
                        <option  [selected]="lang==='en'" value="en">{{'angol'|translate}}</option>
                      </select>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="rememberme" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">{{'emlekezz_ram'|translate}}</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid">{{'bejelentkezes'|translate}}</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">{{"nincs_meg_fiokod"|translate}} <a href="#" routerLink="/signup">{{'keszits_egyet'|translate}}</a></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
                {{'keszitette' | translate}} <a href="https://rozsaistvan.hu" target="_blank">Rózsa István</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->