<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="card mb-3">
              <div class="card-body">
                <div class="text-center">
                  <img style="width: 70%;" src="assets/img/logo-removebg-preview.png" alt="">
                </div>
                <form
                  class="row g-3 needs-validation"
                  [formGroup]="signupForm"
                  (ngSubmit)="onSubmit()"
                >
                  <div class="col-6">
                    <label for="yourName" class="form-label">{{'veznev' |translate}}</label>
                    <input
                      type="text"
                      name="name"
                      formControlName="firstName"
                      class="form-control"
                      id="yourName"
                      required
                    />
                    <div
                      class="invalid-feedback"
                      [ngClass]="{'display-block': this.signupForm.get('firstName')?.errors?.['required'] && (this.signupForm.get('firstName')?.dirty || this.signupForm.get('firstName')?.touched)}"
                    >
                      {{'kot_veznev'|translate}}
                    </div>
                  </div>
                  <div class="col-6">
                    <label for="yourEmail" class="form-label">{{'kernev'|translate}}</label>
                    <input
                      type="email"
                      name="email"
                      formControlName="lastName"
                      class="form-control"
                      id="yourEmail"
                      required
                    />
                    <div
                      class="invalid-feedback"
                      [ngClass]="{'display-block': this.signupForm.get('lastName')?.errors?.['required'] && (this.signupForm.get('lastName')?.dirty || this.signupForm.get('lastName')?.touched)}"
                    >
                      {{'kot_kernev' | translate}}
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="yourUsername" class="form-label">{{'email'| translate}}</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend"
                        ><i class="fa-solid fa-at"></i
                      ></span>
                      <input
                        type="text"
                        name="username"
                        formControlName="email"
                        class="form-control"
                        id="yourUsername"
                        required
                      />
                      <div
                        class="invalid-feedback"
                        [ngClass]="{'display-block': this.signupForm.get('email')?.errors?.['required'] && (this.signupForm.get('email')?.dirty || this.signupForm.get('email')?.touched)}"
                      >
                        {{'kot_email'|translate}}
                      </div>
                      <div
                        class="invalid-feedback"
                        [ngClass]="{'display-block': this.signupForm.get('email')?.errors?.['email']}"
                      >
                        {{'hibas_email'|translate}}
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="yourUsername" class="form-label"
                      >{{'felhasznalonev'|translate}}</label
                    >
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend"
                        ><i class="fa-solid fa-user"></i
                      ></span>
                      <input
                        type="text"
                        name="username"
                        formControlName="username"
                        class="form-control"
                        id="yourUsername"
                        required
                      />
                      <div
                        class="invalid-feedback"
                        [ngClass]="{'display-block': this.signupForm.get('username')?.errors?.['required'] && (this.signupForm.get('username')?.dirty || this.signupForm.get('username')?.touched)}"
                      >
                        {{'kot_felhasznalonev'|translate}}
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="yourPassword" class="form-label">{{'jelszo'|translate}}</label>
                    <div class="input-group">
                      <span class="input-group-text" id="inputGroupPrepend"
                        ><i class="fa-solid fa-key"></i
                      ></span>
                      <input
                        type="password"
                        name="password"
                        formControlName="password"
                        class="form-control"
                        id="yourPassword"
                        required
                      />
                    </div>
                    <div
                      class="invalid-feedback"
                      [ngClass]="{'display-block': this.signupForm.get('password')?.errors?.['required'] && (this.signupForm.get('password')?.dirty || this.signupForm.get('password')?.touched)}"
                    >
                      {{'kot_jelszo'|translate}}
                    </div>
                    <div
                      class="invalid-feedback"
                      [ngClass]="{'display-block': this.signupForm.get('password')?.errors?.['minlength']}"
                    >
                      {{'jelszo_hossz'|translate}}
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating">
                      <select
                        class="form-select"
                        id="floatingSelect"
                        aria-label="Floating label select example"
                        formControlName="gender"
                      >
                        <option value="1">{{'ferfi'|translate}}</option>
                        <option value="0">{{'no'|translate}}</option>
                      </select>
                      <label for="floatingSelect">{{'nem'|translate}}</label>
                      <div
                      class="invalid-feedback"
                      [ngClass]="{'display-block': this.signupForm.get('gender')?.errors?.['required'] && (this.signupForm.get('gender')?.dirty || this.signupForm.get('gender')?.touched)}"
                    >
                      {{'kot_gender'|translate}}
                    </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <select
                        class="form-select"
                        id="floatingSelect"
                        aria-label="Floating label select example"
                        formControlName="role"
                      >
                        <option value="GUEST">{{'vendeg'|translate}}</option>
                        <option value="TRAINER">{{'edzo'|translate}}</option>
                      </select>
                      <label for="floatingSelect">{{'jogosultsag'|translate}}</label>
                      <div
                      class="invalid-feedback"
                      [ngClass]="{'display-block': this.signupForm.get('role')?.errors?.['required'] && (this.signupForm.get('role')?.dirty || this.signupForm.get('role')?.touched)}"
                    >
                      {{'kot_jogosultsag'|translate}}
                    </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button
                      class="btn btn-primary w-100"
                      type="submit"
                      [disabled]="signupForm.invalid"
                    >
                      {{'regisztracio'|translate}}
                    </button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">
                      {{'van_mar_fiokod'|translate}}
                      <a href="#" routerLink="/signin">{{'jelentkezz_be_signup'|translate}}</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>

            <div class="credits">
              {{'keszitette' | translate}} <a href="https://rozsaistvan.hu" target="_blank">Rózsa István</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- End #main -->
