<main class="main" id="main">
  <div class="pagetitle">
    <h1>{{ "edzes_naplo" | translate }}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">{{ "kezdolap" | translate }}</a>
        </li>
        <li class="breadcrumb-item">{{ "edzes" | translate }}</li>
        <li class="breadcrumb-item active">{{ "edzes_naplo" | translate }}</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" *ngIf="workouts && workouts.length > 0">
          <div class="card-header">
            <div class="col-lg-6">{{ "edzes_naplo" | translate }}</div>
            <div class="col-lg-6 text-end">
              <button
                *ngIf="date != '' && !giveByTrainer"
                class="btn btn-danger"
                (click)="deleteWorkout()"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-bordered mt-3">
              <thead>
                <tr>
                  <th>{{ "gyakorlat" | translate }}</th>
                  <th>{{ "testresz" | translate }}</th>
                  <th>{{ "sorozatszam" | translate }}</th>
                  <th>{{ "ismetlesszam" | translate }}</th>
                  <th>{{ "muvelet" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let workout of workouts">
                  <td>{{ workout.exercise.name }}</td>
                  <td>
                    {{ targetedBodyPart(workout.exercise.targetedBodyPart) }}
                  </td>
                  <td>{{ workout.sets }}</td>
                  <td>{{ workout.repetitions }}</td>
                  <td>
                    <button
                      *ngIf="!workout.trainer"
                      class="btn btn-primary btn-sm me-2"
                      routerLink="/workout/edit/{{ workout.workoutId }}"
                    >
                      <fa-icon [icon]="faEdit"></fa-icon>
                    </button>
                    <button
                      *ngIf="!workout.trainer"
                      class="btn btn-danger btn-sm"
                      (click)="deleteExercise(workout.workoutId)"
                    >
                      <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                    <button
                      class="btn btn-success btn-sm ms-2"
                      (click)="sendNotificationToTrainer(workout)"
                      *ngIf="!workout.done"
                    >
                      {{ "elvegez" | translate }}
                    </button>
                    <button
                      class="btn btn-success btn-sm ms-2"
                      *ngIf="workout.done"
                      disabled
                    >
                      <i class="bi bi-check" *ngIf="workout.done"></i>
                      {{ "elvegezve" | translate }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
